<h2>Настройки</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>




		<table class = "edit-table">
			<tr>
				<td class = "label">
					<%= f.label "Имя пользователя" %>:
				</td>
				<td>
					<%= f.text_field :username, :class => "input w250 text" %>
				</td>
				<td></td>
			</tr>

			<tr>
				<td class = "label">
					<%= f.label :email %>:
				</td>
				<td>
					<%= f.text_field :email, :class => "input w250 text" %>
				</td>
				<td></td>
			</tr>

			<tr>
				<td class = "label">
					<%= f.label "Пароль" %>:
				</td>
				<td>
					<%= f.password_field :password, :class => "input w250 text" %>
				</td>
				<td>
					<i class ="about">(leave blank if you don't want to change it)</i>
				</td>
			</tr>

			<tr>
				<td class = "label">
					<%= f.label "Повторение пароля" %>:
				</td>
				<td>
					<%= f.password_field :password_confirmation, :class => "input w250 text" %>
				</td>
				<td>
					<i class ="about">(leave blank if you don't want to change it)</i>
				</td>
			</tr>

			<tr>
				<td class = "label">
					<%= f.label "Текущий пароль" %>: <span class="required">*</span>
				</td>
				<td>
					<%= f.password_field :current_password, :class => "input w250 text" %>
				</td>
				<td>
					<i class = "about">(we need your current password to confirm your changes)</i>
				</td>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<%= f.submit "Update", :class => "powerbutton" %>
				</td>
				<td></td>
			</tr>
		</table>

<% end %>

<p><%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></p>

<%= link_to "Back", :back %>