<br /><br />
<% if @posts.empty? %>
	<p>No posts!</p>
<% else %>
	<% @posts.each do |post| %>
		<%= link_to "#{post.title}", post , :class => "title" %> <br /> 
		
		<%= post.content.html_safe %>
	
		<% if user_signed_in? %>
			<% if current_user.id == post.user.id %>
				<%= link_to "edit", edit_post_path(post) %>
				| <%= link_to "delete", post, :method	=> :delete %>
			<% end %>
		<% end %>
	
		<p class = "about">
			<%= post.created_at.strftime("%d %B %Y at %I:%M%p") %>
			By <%= link_to "#{post.user.username}", page_path(post.user_id) %>
			| <%= link_to "No comments", root_path %>
			<br />
			Labels <%= link_to "apple" %>, <%= link_to "microsoft" %>, <%= link_to "google" %>
		</p>
			<br />
	<% end %>
<% end %>
