<h1>Create new Post</h1>

<%= form_for(@post) do |f| %>
	<table class = "edit-table">	
	  <tr>
    <td>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </td>
    <td>
    </td>
   </tr>
		
		<tr>
			<td class = "label">
				<%= f.label :content %>: <span class="required">*</span>
			</td>
			<td>
				<%= f.text_area :content, :class => "input w350 text" %>
			</td>
		</tr>
		
		<tr>
			<td></td>
			<td>
				<%= f.submit "Post it!", :class => "powerbutton" %></p>
			</td>
		</tr>
	</table>
<% end %>
